<!DOCTYPE html>
{% extends "lab_4/layout/base.html" %}

{% block content %}
<center>
<h1 class="h1">Portofolio</h1>
<img class="img-circle" style="width:250px; height:250px" src = "https://scontent.fcgk7-1.fna.fbcdn.net/v/t31.0-8/21950881_1824588787554595_8127152560897552906_o.jpg?_nc_eui2=v1%3AAeGJq6FykZfQHudjA7Li-eyHlhn55nVXoXpoMWMoSeNZv8NrWDgHmFMge_cvJ2fsF3r2FmWqASkVg2UfGE7L43tqb4cqtujxRba55YRCSgh-NIr5rr4WLSgMPpDjoZVBzHA&oh=398e3b4da494a8fbbb86edc77738e9e4&oe=5A868729">
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
</center>
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<center>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
</center>

{% endblock %}
