{% extends "base.html" %}
{% block content %}
<h3 class="w3-card w3-white card" style="margin-top:50px; text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<div>
    {% if error %}
        <p class="w3-card card"
        style="color:white;background-color:white; padding:5px; font-size:20px; text-align:center">{{ error_message }}</p>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-6 col-xs-6">
            {% for diary_data in diary_dict %}
                <div class="w3-card-2 w3-white card">
                    <h4 class="date">{{ diary_data.date }}</h4>
                    <p class="activity">{{ diary_data.activity }}</p>
                </div>
            {% endfor %}
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="/lab-3/add_activity/">
            {% csrf_token %}

            <div class="w3-card-4 w3-dark-grey card">
                <div class="w3-container">
                    <h4>Tanggal</h4>
                    <input class="" style="margin-left:10px;" type="datetime-local" name="date" id="date" required="required"/>
                    <h4>Kegiatan</h4>
                    <input class="card" type="text" name="activity" id="activity" size="27"/>
                </div>
                <button style="margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:10px" class="w3-button w3-green"
                        >Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
