body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.img-circle {
    border-radius: 50%;

}

footer {
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
      clear: both;
      z-index: 10;
      height: 5em;
      margin-top: 5em;
}

.h1{
  font-family: fantasy;
}
.nav {
  font-family: "sans-serif";
}
